encode=json;
context=
{
    uniqueID:"1780",
    name:"TranslateDataBRPluginService",
    targetPackage:["com.coloros.translate"],
    version:1,
    pluginClass:["com.coloros.translate.backuprestore.TranslateDataBackupPlugin","com.coloros.translate.backuprestore.TranslateDataRestorePlugin"],
    useParentClass:true,
    backupFolder:"Translation"
};